* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    overflow-x: hidden;
}

.grid-main-container {
    display: grid;
    grid-area: "grid-nav" "grid-nav" "grid-nav"
    "content" "content" "lo-ultimo"
    "mas-noticias-grid" "mas-noticias-grid" "mas-noticias-grid"
    "footer" "footer" "footer";
}

.grid-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

nav {
    display: flex;
}

label img {
    padding: 10px;
    width: 60px;
    height: 60px;
}

ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px;
    color: #F0F4EF;
    transition: 0,5s;
}

ul li a:hover {
    border-bottom: 3px solid #F0F4EF;
}

.dos-columnas {
    display: grid;
    grid-template-columns: 75% auto;
}

.content {
    height: auto;
    display: flex;
    flex-direction: column;
}

.noticia-principal {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.noticia-principal img {
    height: auto;
}

.noticia-principal h2 {
    padding: 10px;
    color: #F0F4EF;
}

.noticia-principal a {
    text-decoration: none;
    color: #F0F4EF;
}

.lo-ultimo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.lo-ultimo-content {
    display: flex;
    flex-direction: column;
}

.lo-ultimo-content span {
    text-align: center;
    color: #F0F4EF;
    font-size: 24px;
}

.lo-ultimo-content a {
    padding: 10px;
    text-decoration: none;
    color: #F0F4EF;
}

.mas-noticias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
}

.mas-noticias-content {
    display: flex;
    padding: 10px;
    grid-column: 1/3;
}

.mas-noticias-content2 {
    display: flex;
    padding: 10px;
    grid-column: 3/5;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia img {
    width: 100%;
    height: auto;
}

.noticia h3 {
    color: #F0F4EF;
    padding: 10px;
    text-align: center;
}

.noticia p {
    color: #F0F4EF;
}

.footer {
    display: flex;
    height: auto;
}

.footer ul {
    display: flex;
    flex-direction: column;
}

.footer li {
    display: flex;
}

.noticia-principal-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.noticia-1 {
    display: flex;
    flex-direction: column;
}

.noticia-1 h2 {
    text-align: center;
    color: #F0F4EF;
    padding: 10px;
}

.noticia-1 img {
    padding-left: 15%;    
    padding-right: 15%;
}

.noticia-1 p {
    font-weight: 300;
    font-size: 24px;
    color: #F0F4EF;
    padding: 20px 20px 20px 20px; 
}

.noticia-1 h3 {
    text-align: center;
    color: #F0F4EF;
    font-size: 36px;
    padding: 10px;
}

.foto-aside {
    display: flex;
    padding: 10px;
}

.foto-aside img {
    padding: 0;
    padding-right: 20px;
    padding-bottom: 10px;
}